// Outer wrapper
.wrapper
  +outer-container
  max-width: 100%

//Apply class to start a new container for themed sections
.container
  +span-columns(12)
  background-color: $white
  padding: 0 0 1em 0
  @include media($tablet)
    padding: 1em 0

.top-container
  float: none
  padding: 0
  @include media($mobile)
    margin-top: 47px

// Inner wrap, mostly used inside .container
.inner-wrap
  height: 100%
  margin: 0 auto
  max-width: 1000px
  padding: 0 7em
  position: relative
  @include media($tablet)
    padding: 1em

// Determine columns spanned by element
.small
  +span-columns(4)
  @include media($tablet)
    +span-columns(12)

.small-medium
  +span-columns(5)
  @include media($tablet)
    +span-columns(12)

.medium
  +span-columns(6)
  @include media($tablet)
    +span-columns(12)

.medium-large
  +span-columns(7)
  @include media($tablet)
    +span-columns(12)

.large
  +span-columns(12)

// Provide element heights where appropriate
// Mostly used for parallax windows
.tall
  height: 800px

.medium-tall
  height: 600px

.medium-short
  height: 500px

.short
  height: 400px

// Floating
.right
  float: right !important

.left
  float: left

// Centering and clearing
.center
  text-align: center

.clear
  clear: both

.top-pad
  padding-top: 1em

.bottom-pad
  padding-bottom: 1em

.nav-hide
  display: none
  visibility: hidden

.container
  &.parallax-window
    padding: 0
