.wrapper
  +outer-container
  max-width: 100%

.page-wrap
  background: $white

//Main content area so below top nav
.main

//Apply class to start a new container for themed sections
.container
  +span-columns(12)
  padding: 0.5em 2em 0.5em 2em

.right
  float: right

.left
  float: left

.yellow-bg
  background-color: $trib-yellow

.teal-bg
  background-color: $trib-teal
