.wrapper
  +outer-container
  max-width: 100%

//Apply class to start a new container for themed sections
.container
  +span-columns(12)
  background-color: $white
  padding: 2em 9em
  @include media($tablet)
    padding: 1em

.inner-wrap
  float: left
  margin: 0 auto
  max-width: 1000px
  padding: 0 2em
  position: relative
  @include media($tablet)
    padding: 1em

.right
  float: right

.left
  float: left

.center
  text-align: center

.clear
  clear: both
