//Section arrow animations
@mixin section-arrow-slide
  background-position: top center
  background-repeat: no-repeat
  background-size: 100% 0%
  padding: 2em 0
  @include transition(background-size .5s ease-in-out)
  &.bg-size-appear
    background-size: 100% 100%

// Parallax backgrounds
@mixin parallax-bg($img)
  background-image: url($img)
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  // Reset to default attachment for mobile
  @include media($mobile)
    background-attachment: scroll