//This is where mobile-specific styles will go

// Center images for tablet down
.image-container
  @include media($tablet)
    // find a better way instead of overriding these
    float: none !important
    text-align: center !important
    max-width: 50% !important

// Hide for mobile
.mobile-hide
  @include media($mobile)
    display: none


// Mobile menu styles
.slicknav_menu
  display: none
  @include media($mobile)
    display: block
    position: fixed
    top: 0
    width: 100%
    z-index: 2

#menu
  display: none

.slicknav_nav
  li
    &:last-child
      a
        color: $yellow-trib

