// First, gather these styles here for each section
// Then incorporate into general element styling as fit into patterns
// TODO refactor these according to patterns
.our-story
  .inner-wrap
    h2
      @include media($mobile)
        padding-top: 0

.office-video
  padding: 0 0 2em 0
  .inner-wrap, .video
    @include media($mobile)
      padding-top: 0
      padding-bottom: 0

#innovation
  h1
    margin: 0

.in-backyard
  .image-container
    @include media($mobile)
      padding-top: 0
    padding-top: 1em
  h2
    @include media($tablet)
      padding-top: 0

.legislature
  @include parallax-bg('../img/FMD14-Filibuster-bg002.jpg')
  .text-container
    padding: 2em 0 2.5em 0
  .stats
    @include media($mobile)
      padding-top: 0
    padding-top: 2.5em

.livestream
  @include media($mobile)
    padding-top: 1.5em
  .image-container
    @include media($mobile)
      padding: 0
    padding-top: 3em
    .image
      width: 85%

.bidness
  @include parallax-bg('../img/FMD14-bidness-senate-bg.jpg')
  .text-container
    @include media($tablet)
      padding-top: 3.5em
    @include media($mobile)
      padding-top: 0
    padding-top: 2.5em

.watchdog
  .image-container, .text-container
    @include media($mobile)
      padding: 1em 0
    padding: 3em 0
  .image-container
    .counter-label
      padding: 1em 0
  h2
    @include media($mobile)
      padding-top: 0
    padding-top: 0.5em

.trib-investigates
  @include media($mobile)
    padding-top: 2em
  @include parallax-bg('../img/Workers-bg-CrystalDavis-006.jpg')
  padding-bottom: 3em
  .text-container
    &.left
      @include media($tablet)
        padding-top: 0
      padding-top: 18em
  .image-container
    @include media($mobile)
      padding-top: 0
    padding-top: 4em
    padding-bottom: 0
    .image
      padding-left: 0.8em
    .logo
      @include media($mobile)
        width: 100%

.members
  @include parallax-bg('../img/FMD14-Member-bg002.jpg')
  @include media($mobile)
    @include parallax-bg('../img/FMD14-Member-bg002.jpg')
  .text-container
    @include media($tablet)
      padding-top: 4em
    @include media($mobile)
      padding-top: 1em
    padding-top: 3em

.tribtalk
  .image-container
    padding-top: 0

.newsletters
  @include parallax-bg('../img/FMD14-newsletters-bg.png')
  .image-container
    @include media($mobile)
      padding-top: 0
    img
      width: 50%

.triblive
  // @include media($mobile)
  //   background-attachment: scroll
  //   background-image: url('../img/FMD14-Triblive-bg-6x6grid.jpg')
  //   background-size: cover
  @include parallax-bg('../img/FMD14-Triblive-logo-speaker-bg-grid002.jpg')

.triblive-two
  .text-container
    padding-top: 3em

.festival-video
  .video
    padding: 2em 1em 3em 0

.festival-stars
  padding-top: 1em

.festival-quote
  .inner-wrap
    @include media($tablet)
      padding-top: 0

.stars
  .inner-wrap
    @include media($mobile)
      padding-bottom: 0

.statewide-events
  padding: 0
  h2
    @include media($tablet)
      padding-top: 0
  .image-container
    @include media($tablet)
      padding: 0
    padding-top: 0

.audience
  .text-container
    padding-top: 1.5em
    padding-bottom: 3em

#donate
  height: 100%
  padding-top: 2em
