// First, gather these styles here for each section
// Then incorporate into general element styling as fit into patterns
// TODO refactor these according to patterns

.anniversary-logo
  max-width: 1000px
  padding: 2em 0 1em 0
  position: relative
  width: 75%
  @include media($mobile)
    padding: 2em 0 1em 0
    width: 85%

.our-story
  @include parallax-bg('../img/FMD14-Capitol003.gif')
  .inner-wrap
    @include media($mobile)
      padding-top: 0
    h2
      @include media($mobile)
        padding-top: 0

.introducing
  .inner-wrap, .text-container
    @include media($mobile)
      padding-top: 0

.office-video
  .inner-wrap, .video
    @include media($mobile)
      padding-top: 0
      padding-bottom: 0

.quote-one
  .inner-wrap
    @include media($mobile)
      padding-top: 0

.in-backyard
  .image-container
    padding-top: 1em
    @include media($mobile)
      padding-top: 0

.legislature
  @include parallax-bg('../img/FMD14-Filibuster-bg002.jpg')
  .stats
    padding-top: 1.5em
    @include media($mobile)
      padding-top: 0
  .inner-wrap
    @include media($mobile)
      padding-top: 0

.livestream
  .image-container
    padding-top: 3em
    @include media($mobile)
      padding: 0
    .image
      width: 85%

.bidness
  @include parallax-bg('../img/FMD14-bidness-senate-bg.jpg')
  .text-container
    padding-top: 2.5em
    @include media($mobile)
      padding-top: 0

.watchdog
  h2
    padding-top: 0.5em
    @include media($mobile)
      padding-top: 0

.trib-investigates
  @include parallax-bg('../img/Workers-bg-CrystalDavis-006.jpg')
  .text-container
    &.left
      padding-top: 18em
      @include media($tablet)
        padding-top: 0
  .image-container
    padding-top: 4em
    padding-bottom: 0
    @include media($mobile)
      padding-top: 0
    .image
      padding-left: 0.8em
    .logo
      @include media($mobile)
        width: 100%

.audience
  .inner-wrap
    padding-top: 0

.members
  @include parallax-bg('../img/FMD14-Member-bg001.jpg')
  @include media($mobile)
    @include parallax-bg('../img/FMD14-Member-bg002.jpg')
  .text-container
    padding-top: 3em
    @include media($mobile)
      padding-top: 0

.tribtalk
  .image-container, .text-container
    padding-top: 0

.newsletters
  @include parallax-bg('../img/FMD14-newsletters-bg.png')
  .image-container, .text-container
    padding-top: 6em
    @include media($mobile)
      padding-top: 0

.triblive
  @include parallax-bg('../img/FMD14-Triblive-speaker-bg-grid.jpg')
  .image-container
    @include media($mobile)
      padding: 0
  .image
    @include media($mobile)
      width: 100%

.triblive-middle
  margin: 0
  padding: 0
  .image-container
    padding: 0

.triblive-two
  background-image: url('../img/FMD14-Triblive-speaker-bg-grid.jpg')
  background-attachment: fixed
  background-repeat: repeat
  background-size: contain
  @include media($mobile)
    background-attachment: scroll
    background-image: url('../img/FMD14-Triblive-bg-6x6grid.jpg')
    background-size: cover

.stars
  .inner-wrap
    @include media($mobile)
      padding-bottom: 0

.statewide-events
  h2
    @include media($mobile)
      padding-top: 0
  .image-container
    @include media($mobile)
      padding: 0

.statewide-quote
  .inner-wrap
    @include media($mobile)
      padding-top: 0

