// Tribune colors
$navy-trib: rgb(17, 17, 17)
$yellow-trib: rgb(255, 194, 0)
$teal-trib: #008990


// Project color palette
$avocado: #8fc743
$black: #222
$black-middle: #111
$black-light: #000
$blue: #2d7fba
$grey-dark: #444
$navy: #10466d
$navy-dark: #4b4b4b
$tan: #f0decd
$teal-light: #90d3c8
$teal: #4c888b
$white: #fff
$white-off: #f0f0f0


// Typography

$text-header: $white
$teal-shadow: #00676c
$white-shadow: #f0f0f0
$yellow-shadow: #f0af2d

$league-gothic: 'league-gothic', sans-serif
$proxima-nova: proxima-nova-sc-osf, sans-serif
$pt-sans: pt-sans, sans-serif
$pt-sans-narrow: pt-sans-narrow, sans-serif


// Section backgrounds
$bg-head-foot: $navy-trib


// Media query breakpoints
$desktop: new-breakpoint(min-width 851px 12)
$small-desktop: new-breakpoint(max-width 970px)
$tablet: new-breakpoint(max-width 850px)
$mobile: new-breakpoint(max-width 480px)