// Tribune colors
$head-foot-bg: rgb(17, 17, 17)
$trib-yellow: rgb(255, 194, 0)
$trib-teal: #008990

// General colors
$white: #ffffff
$off-black: #222
$dark-grey: #444
$tw-teal: #4c888b
$salaries-teal: #90d3c8
$member-drive-tan: #f0decd
$tribtalk-avocado: #8fc743
$social-blue: #2d7fba
$social-navy: #10466d

// Theme colors
$textColor: $white

// Media query breakpoints
$desktop: new-breakpoint(min-width 851px 12)
$tablet: new-breakpoint(max-width 850px)
$mobile: new-breakpoint(max-width 480px)
