//Header & footer
.header
  background-color: $head-foot-bg
  color: $textColor
  height: 50px
  width: 100%
  z-index: 5 //to be sure it is seen over the flowing circular images
  .wrapper
    padding: 0.5em
  .social-link
    color: $textColor
    float: left
    font-size: 2em
    padding: 0 0.5em
  img
    padding: 0 0.5em 0 1em
  h1
    color: $trib-yellow
    display: inline-block
    font-size: 0.8em
    font-weight: 500
    letter-spacing: 0.2em
    padding: 0 0 0.8em 0.5em
    text-transform: uppercase
    vertical-align: middle

.footer
  background-color: $head-foot-bg
  color: $textColor
  height: 50px
  ul
    padding-right: 2em
    li
      color: $trib-yellow
      display: inline
      font-size: 0.8em
      padding: 0 0.2em 0 0.2em
      a
        color: $trib-yellow
        font-size: 0.9em
        text-decoration: none


// Styles for content types used in themed sections

// Backgrounds for chunks
.avocado-bg
  background-color: $tribtalk-avocado

.blue-bg
  background-color: $social-blue

.dark-bg
  background-color: $off-black

.grey-bg
  background-color: $dark-grey
  border: 2em solid $member-drive-tan

.salaries-teal-bg
  background-color: $salaries-teal

.teal-bg
  background-color: $trib-teal

.white-bg
  background-color: $white

.yellow-bg
  background-color: $trib-yellow

// Headers
.section-header
  background-color: $white
  h1
    font-family: 'league-gothic', sans-serif
    font-size: 3em
    font-weight: 300
    line-height: 1.1em
    text-transform: uppercase

h2
  font-family: pt-sans, sans-serif
  font-size: 1.3em
  font-weight: 700
  letter-spacing: 1px
  line-height: 1.2em
  margin: 0 0 0.8em 0
  text-transform: uppercase

// Text styles
.text-container
  padding: 1em 0 1em 0
  &.small
    width: 40%
    @include media($tablet)
      width: 100%
  &.medium
    width: 50%
    @include media($tablet)
      width: 100%
  &.large
    width: 90%
    @include media($tablet)
      width: 100%

// Background-specific styles
.dark-bg, .grey-bg, .blue-bg
  color: white

.text
  display: inline
  font-family: pt-sans, sans-serif
  font-size: 1em
  font-weight: 200
  margin: 0
  padding: 0
  width: 100%

// Image styles
.image-container
  float: left
  max-width: 100%

.image
  max-width: 100%
  @include media($tablet)
    float: none

.image-info
  float: left
  line-height: 1.5em
  overflow: auto
  padding: 0 0.5em 0 0.5em

cite
  font-size: 0.6em

// Each section, in order of appearance
#welcome
  float: none
  height: 500px
  .text-container
    margin-top: 12em

#mission-model
  background-image: url(http://s3.amazonaws.com/static.texastribune.org/media/images/VoterID-DOJ_jpg_800x1000_q100.jpg)
  background-repeat: no-repeat
  background-size: cover
  height: 600px

#tx-weekly
  height: 700px
  h1
    color: $tw-teal
    font-size: 6em
    text-transform: uppercase
  .counter
    color: $tw-teal
    font-family: 'league-gothic', sans-serif
    font-size: 3em
    font-weight: 600
    letter-spacing: 0.03em
    line-height: 1.3em

#bidness
  background-image: url(http://s3.amazonaws.com/static.texastribune.org/media/images/2014/09/26/OPEN_BEACHES1323_jpg_474x1000_q100.jpg)
  background-repeat: no-repeat
  background-size: cover

#filibuster
  background-image: url(http://s3.amazonaws.com/static.texastribune.org/media/images/PerryHoldsTEF_1_jpg_312x1000_q100.jpg)
  background-repeat: no-repeat
  background-size: cover
  height: 800px
