//Header
.header
  background-color: $bg-head-foot
  color: $text-header
  height: 50px
  width: 100%
  .inner-wrap
    padding: 0
  .social-link
    color: $text-header
    float: left
    font-size: 2em
    padding: 0 0.5em
  ul
    margin: 0
    padding-left: 0
    li
      display: inline-block
      height: 50px
      padding-top: 0.6em
      @include media($tablet)
        padding-top: 0.8em
      &.active
        background-color: $teal-trib
      &:hover
        border-bottom: 2px solid $yellow-trib
        a
          color: #f0f0f0
      &:last-child
        a
          color: $yellow-trib
      a
        color: $text-header
        font-family: $pt-sans-narrow
        font-size: 1.3em
        font-weight: 800
        letter-spacing: 1px
        padding: 0 0.6em
        text-decoration: none
        @include media($tablet)
          font-size: 0.8em
          padding-top: 1em
        @include media($mobile)
          font-size: 0.7em
          padding: 0 0.5em

// sticky header
#sticky-nav
  height: 50px
  overflow: hidden
  position: fixed
  top: 0
  visibility: visible
  z-index: 5
  -webkit-backface-visibility: hidden
  -webkit-transform: translateZ(0)

// Footer
.footer
  background-color: $bg-head-foot
  clear: both
  color: $white
  margin: 0
  padding: 1em 0
  position: absolute
  text-align: center
  width: 100%
  @include media($desktop)
    padding: 0
    text-align: none
  nav
    ul
      list-style: none
      padding: 0
    font-size: .875em
    @include media($desktop)
      float: left
      font-size: .75em
      margin: 0 0 1em
  .first-nav
    color: $yellow-trib
    @include media($desktop)
      float: left
    li
      padding: 0
    a
      color: $yellow-trib
      text-decoration: none
  .last-nav
    @include media($desktop)
      float: right
    a
      color: $white
      text-decoration: none
  li
    margin: .75em 0
    @include media($desktop)
      border-left: 1px solid $yellow-trib
      display: inline
      float: left
      margin: 0
      padding: 0 .5em
      &:first-child
        border: 0
        padding-left: 0



// Styles for content types used in themed sections

// Headers for sections
.section-header
  background: transparent
  padding: 0 9em
  @include media($tablet)
    padding: 0 1em
  h1
    color: $black-middle
    font-family: $proxima-nova
    font-size: 3.75em
    font-weight: 800
    line-height: 1.1em
    margin-top: 0
    text-transform: uppercase
    @include media($mobile)
      font-size: 2.2em
      margin: 0
      padding-bottom: 0.5em
  &:before
    display: block
    content: " "
    height: 40px
    visibility: hidden

// Chunk headers
h2
  color: $black-middle
  font-family: $league-gothic
  font-size: 2em
  font-weight: 200
  letter-spacing: 1px
  line-height: 1em
  margin: 0 0 0.4em 0
  padding-top: 1em
  text-transform: uppercase


// Colors and backgrounds
.black
  color: $black

.black-bg
  background-color: $black-light

.black-shadow
  text-shadow: rgba($black, 0.3) 0.1em 0.1em 0px

.teal-bg
  background-color: $teal-trib

.teal-shadow
  text-shadow: $teal-shadow 0.1em 0.1em 0px

.text-on-white
  color: $navy-dark

.text-on-yellow
  color: $black

.yellow
  color: $yellow-trib

.yellow-bg
  background-color: $yellow-trib

.yellow-shadow
  text-shadow: $yellow-shadow 0.1em 0.1em 0px

.white
  color: $white

.white-bg
  background-color: $white

.white-shadow
  text-shadow: $white-shadow 0.1em 0.1em 0px

// For arrow to transition between sections
// TODO make mixin
.section-arrow-white
  @include section-arrow-slide
  background-image: url(data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9Ijc2LjU5OCI+PHBvbHlnb24gZmlsbD0iI0ZGRiIgcG9pbnRzPSIwLDAgOTYwLjAzNiw3Ni41OTggMTkyMCwwIi8+PC9zdmc+Cg==)

.section-arrow-yellow
  @include section-arrow-slide
  background-image: url(data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9Ijc2LjU5OCI+PHBvbHlnb24gZmlsbD0iI0ZGQzIwMCIgcG9pbnRzPSIwLDAgOTYwLjAzNiw3Ni41OTggMTkyMCwwIi8+PC9zdmc+Cg==)

.section-arrow-black
  @include section-arrow-slide
  background-image: url(data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9Ijc2LjU5OCI+PHBvbHlnb24gZmlsbD0iIzAwMCIgcG9pbnRzPSIwLDAgOTYwLjAzNiw3Ni41OTggMTkyMCwwIi8+PC9zdmc+Cg==)

.section-arrow-teal
  @include section-arrow-slide
  background-image: url(data:image/svg+xml;base64,PHN2ZyBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOTIwIiBoZWlnaHQ9Ijc2LjU5OCI+PHBvbHlnb24gZmlsbD0iIzAwODk5MCIgcG9pbnRzPSIwLDAgOTYwLjAzNiw3Ni41OTggMTkyMCwwIi8+PC9zdmc+Cg==)

.bg-size-appear
  background-size: 100% 100%

// For parallax
.transparent
  background-color: transparent


// Quote sections
.quote-section
  font-family: $pt-sans-narrow
  font-size: 1.85em
  font-weight: 900
  line-height: 1.15em

.quote-inner
  font-family: $league-gothic
  font-size: 1.6em
  font-weight: 400


//Font Awesome
// intro arrow
.fa-angle-double-down
  font-size: 3em

// Star dividers
.fa-star
  color: $teal-shadow
  font-size: 1.2em
  padding: 0 2em


// Text styles
.text-container
  padding: 1em 0

.text
  display: inline
  font-family: $pt-sans
  font-size: 1.1em
  font-weight: 300
  line-height: 1.2em
  margin: 0
  padding: 0
  width: 100%


// Image styles
.image-container
  max-width: 100%
  padding: 2em 0 1em 0

.image
  max-width: 100%
  @include media($tablet)
    float: none

.image-wrap
  +span-columns(4)
  padding: 3em 0 0 1em
  @include media($mobile)
    +span-columns(6)

.newsletter-image
  height: 40px
  margin: 2em 0
  @include media($tablet)
    float: left

.tribtalk-logo
  max-width: 100%
  @include media($tablet)
    width: 25%

.logo
  width: 85%

// used to animate in Trib and Talk
.animate-from-left
  margin-left: -200px
  padding-bottom: 1em
  position: relative
  @include transition(left 2s ease-in-out)
  &.side-animate
    left: 18%
    @include media($tablet)
      left: 25%

.animate-from-right
  padding-bottom: 1em
  position: relative
  margin-right: -200px
  @include transition(right 2s ease-in-out)
  &.side-animate
    right: 18%
    @include media($tablet)
      right: 25%

.video
  padding: 1em 1em 1em 0


// For stat counters
table
  border-collapse: separate
  border-spacing: 20px
  width: 100%

.counter-wrapper
  padding: 0 0 1em 0
  width: 50%
  hr
    border-style: none
    border-top: 2px solid $yellow-trib
    color: $yellow-trib
    margin: 0 0 0.3em 0

.counter
  font-family: $league-gothic
  font-size: 2.8em
  font-weight: 200
  letter-spacing: 0.03em
  @include media($small-desktop)
    font-size: 2.2em

.counter-label
  font-family: $pt-sans
  font-size: 1em
  font-weight: 400
  letter-spacing: .13em
  margin: 0
  text-transform: uppercase

