<footer class="footer">
  <nav class="left">
    <ul>
      <li>&copy; 2014 <a href="http://www.texastribune.org/">The Texas Tribune</a></li>
    </ul>
  </nav>
  <nav class="right">
    <ul>
      <li><a href="http://www.texastribune.org/about/">About Us</a></li>
      <span>|</span>
      <li><a href="http://www.texastribune.org/contact/">Contact Us</a></li>
      <span>|</span>
      <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
      <span>|</span>
      <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
      <span>|</span>
      <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
      <span>|</span>
      <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
    </ul>
  </nav>
</footer>
