<img src="http://s3.amazonaws.com/static.texastribune.org/media/images/VoterID-DOJ_jpg_800x1000_q100.jpg" style="z-index: -1; height: 1027px; position: absolute; opacity: 0.3;">
<div class="wrapper" style="z-index: 2;">
  <div class="container" id="welcome">
    <div class="center">
      <img class="image" src="/img/logo-wrap-head.png">
    </div>
    <div class="inner-wrap">
      <div class="text-container medium left">
        <p><%= lorem.sentences 3 %></p>
      </div>
      <div class="text-container medium left">
        <p><%= lorem.sentences 3 %></p>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <div class="wrapper">
    <a href="http://twitter.com/TexasTribune" title="Follow us on Twitter" class="social-link" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.facebook.com/texastribune" title="Find us on Facebook" class="social-link" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="http://instagram.com/texas_tribune" title="Follow us on Instagram" class="social-link" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <div class="wrapper">
    <a href="http://www.texastribune.org" target="_blank">
      <img alt="The Texas Tribune" src="/img/logo-wrap-head.png">
    </a>
    <span>|</span>
    <h1>Fall Membership Drive</h1>
    </div>
  </div>
</header>
