<div class="parallax-window transparent" data-parallax="scroll" data-image-src="img/FMD14-Capitol-FPO-bg.jpg" data-natural-height="700" data-natural-width="1280" style="height: 1450px; position: absolute; width: 100%;"></div>
<div class="resize-wrapper">
<div class="wrapper">
  <div class="container transparent top-container">
    <div class="center">
      <img class="image" src="/img/TxTrib-logo.svg" style="width: 50%; position: relative;">
    </div>
    <div class="inner-wrap" style="max-width: 700px; float: none;">
      <div class="text-container medium left">
        <p class="text white">The Texas Tribune is the only member-supported, digitally-forward, nonpartisan news organization that informs and engages with Texans about public policy, politics, government and statewide issues in depth.</p>
      </div>
      <div class="text-container medium right">
        <p class="text white">We’re proud that a strong member community has helped us accomplish what we set out to do in the first five years — keep elected officials accountable and connect Texans to their state.</p>
      </div>
    </div>
  </div>
  <div class="container transparent mobile-hide">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <a href="#story"><i class="fa fa-angle-double-down white"></i></a>
      </div>
    </div>
  </div>
</div>
</div>
<header id="unsticky-nav" class="header mobile-hide">
  <div class="inner-wrap" style="padding: 0; float: none;">
    <nav class="center">
      <ul>
        <li><a class="header-link" href="#story">Story</a></li>
        <li><a class="header-link" href="#innovation">Innovation</a></li>
        <li><a class="header-link" href="#accountability">Accountability</a></li>
        <li><a class="header-link" href="#transparency">Transparency</a></li>
        <li><a class="header-link" href="#engagement">Engagement</a></li>
        <li><a class="header-link" href="#donate">Donate</a></li>
      </ul>
    </nav>
  </div>
</header>
<header id="sticky-nav" class="header mobile-hide nav-hide">
  <div class="inner-wrap" style="padding: 0; float: none;">
    <nav class="center">
      <ul>
        <li><a class="header-link" href="#story">Story</a></li>
        <li><a class="header-link" href="#innovation">Innovation</a></li>
        <li><a class="header-link" href="#accountability">Accountability</a></li>
        <li><a class="header-link" href="#transparency">Transparency</a></li>
        <li><a class="header-link" href="#engagement">Engagement</a></li>
        <li><a class="header-link" href="#donate">Donate</a></li>
      </ul>
    </nav>
  </div>
</header>
<ul id="menu" class="mobile-hide">
  <li><a class="header-link" href="#story">Story</a></li>
  <li><a class="header-link" href="#innovation">Innovation</a></li>
  <li><a class="header-link" href="#accountability">Accountability</a></li>
  <li><a class="header-link" href="#transparency">Transparency</a></li>
  <li><a class="header-link" href="#engagement">Engagement</a></li>
  <li><a class="header-link" href="#donate">Donate</a></li>
</ul>
