<a href="http://www.texastribune.org/join/">
  <div class="cta-button-fixed ribbons-join-us-teal ribbons-join-us-yellow hide">
  </div>
</a>
<header id="sticky-nav" class="header mobile-hide">
  <div class="inner-wrap no-pad no-float">
    <nav class="center">
      <ul>
        <li><a class="header-link bug" href="http://www.texastribune.org/"><img src="/img/TxTrib-logo-stack.svg"></a></li>
        <li><a class="header-link" href="#story">Our Story</a></li>
        <li><a class="header-link" href="#innovation">Innovation</a></li>
        <li><a class="header-link" href="#accountability">Accountability</a></li>
        <li><a class="header-link" href="#transparency">Transparency</a></li>
        <li><a class="header-link" href="#engagement">Community</a></li>
        <li><a class="header-link" href="http://texastribune.org/join/">Join Now</a></li>
      </ul>
    </nav>
  </div>
</header>
<ul id="menu" class="mobile-hide">
  <li><a class="bug" href="http://www.texastribune.org/"><img src="/img/TxTrib-logo-stack.svg"></a></li>
  <li><a class="header-link" href="#story">Our Story</a></li>
  <li><a class="header-link" href="#innovation">Innovation</a></li>
  <li><a class="header-link" href="#accountability">Accountability</a></li>
  <li><a class="header-link" href="#transparency">Transparency</a></li>
  <li><a class="header-link" href="#engagement">Community</a></li>
  <li><a class="header-link" href="http://texastribune.org/join/">Join Now</a></li>
</ul>
<div class="container transparent top-container no-float">
  <div class="resize-wrapper">
    <div class="inner-wrap no-float" style="height: initial">
      <div class="center">
        <img class="image anniversary-logo" src="/img/FMD14-5thAnniversary-logo-lrg002.png">
      </div>
      <div class="text-container medium-large no-margin" style="padding-left: 0;">
        <p class="text black">The Texas Tribune is the only member-supported, digitally focused, nonpartisan news organization that informs and engages with Texans about public policy, politics, government and statewide issues.<br><br>We’re proud that a strong member community has helped us accomplish what we set out to do in the first five years — hold elected officials accountable and connect Texans to our state.</p>
      </div>
      <div class="large">
        <a class="cta-link" href="http://www.texastribune.org/join/"><div class="cta-button">BECOME A MEMBER TODAY</div></a>
      </div>
      <div class="center mobile-hide clear" style="padding: 1em 0;">
        <a href="#story"><i class="fa fa-angle-double-down teal"></i></a>
      </div>
    </div>
  </div>
</div>
