<div class="parallax-window" data-parallax="scroll" data-image-src="http://s3.amazonaws.com/static.texastribune.org/media/images/VoterID-DOJ_jpg_800x1000_q100.jpg" style="background-color: transparent; height: 1300px; position: absolute; width: 100%;"></div>
<div class="wrapper" style="z-index: 2;">
  <div class="container" id="welcome">
    <div class="center">
      <img class="image" src="/img/TxTrib-logo.svg" style="width: 65%;">
    </div>
    <div class="inner-wrap">
      <div class="text-container small left">
        <p style="color: white;"><%= lorem.sentences 3 %></p>
      </div>
      <div class="text-container small right" style="color: white;">
        <p><%= lorem.sentences 3 %></p>
      </div>
    </div>
  </div>
  <div class="container" style="background-color: transparent;">
    <div class="inner-wrap">
      <div class="center">
        <a href="#story"><i class="fa fa-arrow-down"></i></a>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <div class="inner-wrap" style="float: none; padding: 0 2em;">
    <nav class="center">
      <ul>
        <li><a class="header-link" href="#story">Story</a></li>
        <li><a class="header-link" href="#data">Data</a></li>
        <li><a class="header-link" href="#awards">Awards</a></li>
        <li><a class="header-link" href="#events">Events</a></li>
        <li><a class="header-link" href="#engagement">Engagement</a></li>
        <li><a class="header-link" href="#donate">Donate</a></li>
      </ul>
    </nav>
  </div>
</header>
