<div class="resize-wrapper">
    <div class="container transparent top-container parallax-window" data-parallax="scroll" data-image-src="http://placehold.it/1280x700" data-natural-height="700" data-natural-width="1280">
      <div class="center">
        <img class="image" src="/img/FMD14-5thAnniversary-site-logoFPO.png" style="width: 65%; position: relative; padding: 3em 0 2.5em 0; max-width: 1000px;">
      </div>
      <div class="inner-wrap" style="float: none; height: initial">
        <div class="text-container medium left" style="margin: 0; padding-left: 0;">
          <p class="text white">The Texas Tribune is the only member-supported, digitally-forward, nonpartisan news organization that informs and engages with Texans about public policy, politics, government and statewide issues in depth.</p>
        </div>
        <div class="text-container medium right" style="margin: 0; padding-right: 0;">
          <p class="text white">We’re proud that a strong member community has helped us accomplish what we set out to do in the first five years — keep elected officials accountable and connect Texans to their state.</p>
        </div>
        <div class="center" style="padding: 1em 0; clear: both;">
          <a href="#story"><i class="fa fa-angle-double-down yellow"></i></a>
        </div>
      </div>
    </div>
</div>
<header id="unsticky-nav" class="header mobile-hide">
  <div class="inner-wrap" style="padding: 0; float: none;">
    <nav class="center">
      <ul>
        <li><a href="http://www.texastribune.org" target="_blank"><img src="img/TxTrib-bug-logo.png" style="height: 20px;"></a></li>
        <li><a class="header-link" href="#story">Story</a></li>
        <li><a class="header-link" href="#innovation">Innovation</a></li>
        <li><a class="header-link" href="#accountability">Accountability</a></li>
        <li><a class="header-link" href="#transparency">Transparency</a></li>
        <li><a class="header-link" href="#engagement">Engagement</a></li>
        <li><a class="header-link" href="#donate">Donate</a></li>
      </ul>
    </nav>
  </div>
</header>
<header id="sticky-nav" class="header mobile-hide nav-hide">
  <div class="inner-wrap" style="padding: 0; float: none;">
    <nav class="center">
      <ul>
        <li><a href="http://www.texastribune.org" target="_blank"><img src="img/TxTrib-bug-logo.png" style="height: 20px;"></a></li>
        <li><a class="header-link" href="#story">Story</a></li>
        <li><a class="header-link" href="#innovation">Innovation</a></li>
        <li><a class="header-link" href="#accountability">Accountability</a></li>
        <li><a class="header-link" href="#transparency">Transparency</a></li>
        <li><a class="header-link" href="#engagement">Engagement</a></li>
        <li><a class="header-link" href="#donate">Donate</a></li>
      </ul>
    </nav>
  </div>
</header>
<ul id="menu" class="mobile-hide">
  <li><a href="http://www.texastribune.org" target="_blank"><img src="img/TxTrib-bug-logo.png" style="height: 20px;"></a></li>
  <li><a class="header-link" href="#story">Story</a></li>
  <li><a class="header-link" href="#innovation">Innovation</a></li>
  <li><a class="header-link" href="#accountability">Accountability</a></li>
  <li><a class="header-link" href="#transparency">Transparency</a></li>
  <li><a class="header-link" href="#engagement">Engagement</a></li>
  <li><a class="header-link" href="#donate">Donate</a></li>
</ul>
