<div class="container transparent top-container" style="background-image: url(img/FMD14-Capitol-sky002.gif); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
  <div class="resize-wrapper">
    <div class="center">
      <img class="image" src="/img/FMD14-5thAnniversary-site-logoFPO.png" style="width: 65%; position: relative; padding: 3em 0 2.5em 0; max-width: 1000px;">
    </div>
    <div class="inner-wrap" style="float: none; height: initial">
      <div class="text-container large" style="margin: 0; padding-left: 0;">
        <p class="text black">The Texas Tribune is the only member-supported, digitally-forward, nonpartisan news organization that informs and engages with Texans about public policy, politics, government and statewide issues in depth.<br><br>We’re proud that a strong member community has helped us accomplish what we set out to do in the first five years — keep elected officials accountable and connect Texans to their state.</p>
      </div>
      <div class="center mobile-hide" style="padding: 1em 0; clear: both;">
        <a href="#story"><i class="fa fa-angle-double-down teal"></i></a>
      </div>
    </div>
  </div>
</div>
  <header id="unsticky-nav" class="header mobile-hide">
    <div class="inner-wrap" style="padding: 0; float: none;">
      <nav class="center">
        <ul>
          <li><a href="http://www.texastribune.org" target="_blank"><img src="img/TxTrib-bug-logo.png" style="height: 1em;"></a></li>
          <li><a class="header-link" href="#story">Our Story</a></li>
          <li><a class="header-link" href="#innovation">Innovation</a></li>
          <li><a class="header-link" href="#accountability">Accountability</a></li>
          <li><a class="header-link" href="#transparency">Transparency</a></li>
          <li><a class="header-link" href="#engagement">Engagement</a></li>
          <li><a class="header-link" href="http://texastribune.org/join" target="_blank">Donate</a></li>
        </ul>
      </nav>
    </div>
  </header>
<header id="sticky-nav" class="header mobile-hide nav-hide">
  <div class="inner-wrap" style="padding: 0; float: none;">
    <nav class="center">
      <ul>
        <li><a href="http://www.texastribune.org" target="_blank"><img src="img/TxTrib-bug-logo.png" style="height: 1em;"></a></li>
        <li><a class="header-link" href="#story">Our Story</a></li>
        <li><a class="header-link" href="#innovation">Innovation</a></li>
        <li><a class="header-link" href="#accountability">Accountability</a></li>
        <li><a class="header-link" href="#transparency">Transparency</a></li>
        <li><a class="header-link" href="#engagement">Engagement</a></li>
        <li><a class="header-link" href="http://texastribune.org/join" target="_blank">Donate</a></li>
      </ul>
    </nav>
  </div>
</header>
<ul id="menu" class="mobile-hide">
  <li><a href="http://www.texastribune.org" target="_blank"><img src="img/TxTrib-bug-logo.png" style="height: 1em;"></a></li>
  <li><a class="header-link" href="#story">Our Story</a></li>
  <li><a class="header-link" href="#innovation">Innovation</a></li>
  <li><a class="header-link" href="#accountability">Accountability</a></li>
  <li><a class="header-link" href="#transparency">Transparency</a></li>
  <li><a class="header-link" href="#engagement">Engagement</a></li>
  <li><a class="header-link" href="http://texastribune.org/join" target="_blank">Donate</a></li>
</ul>
