<header id="sticky-nav" class="header mobile-hide">
  <div class="inner-wrap no-pad no-float">
    <nav class="center">
      <ul>
        <li><a class="header-link bug" href="http://www.texastribune.org/"><img src="/img/TT-Logo-white636x70.png"></a></li>
        <li><a class="header-link" href="#story">Our Story</a></li>
        <li><a class="header-link" href="#innovation">Innovation</a></li>
        <li><a class="header-link" href="#accountability">Accountability</a></li>
        <li><a class="header-link" href="#transparency">Transparency</a></li>
        <li><a class="header-link" href="#community">Community</a></li>
        <li><a class="header-link" href="http://texastribune.org/join/">Join Now</a></li>
      </ul>
    </nav>
  </div>
</header>
<ul id="menu" class="mobile-hide">
  <li><a class="header-link" href="#story">Our Story</a></li>
  <li><a class="header-link" href="#innovation">Innovation</a></li>
  <li><a class="header-link" href="#accountability">Accountability</a></li>
  <li><a class="header-link" href="#transparency">Transparency</a></li>
  <li><a class="header-link" href="#community">Community</a></li>
  <li><a class="header-link" href="http://texastribune.org/join/">Join Now</a></li>
</ul>
<div class="container transparent top-container no-float">
  <div class="inner-wrap no-float" style="height: initial">
    <div class="top-wrap">
      <img class="image anniversary-logo left" src="/img/FMD14-5thAnniversary-logo-lrg002.png">
      <div class="social-top-wrap right mobile-hide">
        <a class="email-sharing" href="mailto:?subject=Introducing the Texas Tribune&amp;body=I support The Texas Tribune and you should, too! Learn more about the important work the Tribune is doing on behalf of Texans at anniversary.texastribune.org."
        title="share via email"><i class="social-top fa fa-envelope"></i></a><br>
        <a class="facebook-sharing" href="http://www.facebook.com/sharer.php?u=http://anniversary.texastribune.org" title="share on Facebook" target="_blank"><i class="social-top fa fa-facebook-square"></i></a><br>
        <a class="twitter-sharing" href="https://twitter.com/home?status=I support @TexasTribune and you should, too! Check out the Tribune's story and impact at anniversary.texastribune.org." title="share on Twitter" target="_blank"><i class="social-top fa fa-twitter"></i></a>
      </div>
      <div class="social-top-wrap right mobile-show">
        <a class="email-sharing" href="mailto:?subject=Introducing the Texas Tribune&amp;body=I support The Texas Tribune and you should, too! Learn more about the important work the Tribune is doing on behalf of Texans at anniversary.texastribune.org."
        title="share via email"><i class="social-top fa fa-envelope"></i></a>
        <a class="facebook-sharing" href="http://www.facebook.com/sharer.php?u=http://anniversary.texastribune.org" title="share on Facebook" target="_blank"><i class="social-top fa fa-facebook-square"></i></a>
        <a class="twitter-sharing" href="https://twitter.com/home?status=I support @TexasTribune and you should, too! Check out the Tribune's story and impact at anniversary.texastribune.org." title="share on Twitter" target="_blank"><i class="social-top fa fa-twitter"></i></a>
      </div>
    </div>
    <div class="text-container medium-large no-margin" style="padding-left: 0;">
      <p class="text">The Texas Tribune is the only member-supported, digitally focused, nonpartisan news organization that informs and engages with Texans about public policy, politics, government and statewide issues.<br><br>We’re proud that a strong member community has helped us accomplish what we set out to do in the first five years — hold elected officials accountable and connect Texans to our state.</p>
    </div>
    <div class="large">
      <a class="cta-link" href="http://www.texastribune.org/join/"><div class="cta-button">BECOME A MEMBER TODAY</div></a>
    </div>
    <div class="center mobile-hide clear" style="padding: 1em 0;">
      <a href="#story"><i class="fa fa-angle-double-down teal"></i></a>
    </div>
  </div>
</div>
