<div class="container">
  <div class="inner-wrap">
    <div class="center">
      <i class="fa fa-star yellow"></i>
      <i class="fa fa-star yellow"></i>
      <i class="fa fa-star yellow"></i>
    </div>
  </div>
</div>
