---
title: Fall Membership Drive | The Texas Tribune
---
<div class="wrapper">
  <div class="medium-short transparent our-story" data-stellar-background-ratio="0.5">
    <div class="container section-header center" id="story">
      <h1 class="black-shadow" style="margin: 0;"><span class="yellow">OUR</span> <span class="white">STORY</span></h1>
    </div>
    <div class="container transparent">
      <div class="inner-wrap">
        <div class="text-container medium-large black">
          <h2 class="black">Public Need & A New Vision</h2>
            <p class="text black">Before The Texas Tribune’s creation in 2009, the options were drying up for Texans seeking in-depth coverage of state politics and public policy.<br><br>That trend was reversed dramatically when John Thornton, Evan Smith and Ross Ramsey co-founded the Tribune. Believing that nonpartisan news and information are crucial components of democracy, they created a valued source of news and engagement on statewide issues.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container introducing">
    <div class="inner-wrap">
      <div class="text-container large">
        <h2>Introducing the Texas Tribune</h2>
          <p class="text text-on-white">The Texas Tribune is a nonpartisan, nonprofit media organization that informs Texans —  and engages with them — about public policy, politics, government and statewide issues.</p>
      </div>
    </div>
  </div>
  <div class="container office-video">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <div class="video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/cKSTnP-UPHw?wmode=transparent&autohide=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container white-bg stars">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <i class="fa fa-star black"></i>
        <i class="fa fa-star black"></i>
        <i class="fa fa-star black"></i>
      </div>
    </div>
  </div>
  <div class="container white-bg quote-one">
    <div class="inner-wrap">
      <h1 class="quote-section black">"Quality in-depth and trustworthy reporting - I think the vision and impact TT has had on Texas politics is groundbreaking."</h1>
      <h1 class="quote-section"><span class="yellow">- Evan Smith, CEO & Editor-in-Chief</span></h1>
    </div>
  </div>
  <div class="container section-arrow section-arrow-white yellow-bg">
  </div>
  <div class="container section-header center yellow-bg" id="innovation">
    <h1 class="yellow-shadow">ACCESS & <span class="white">INNOVATION</span></h1>
  </div>
  <div class="container yellow-bg in-backyard">
    <div class="inner-wrap">
      <div class="image-container medium left">
        <img class="image" src="img/Statewide-local-you-img.png">
      </div>
      <div class="text-container medium right bottom-pad" style="padding-top: 0;">
        <h2>In Your Backyard</h2>
        <p class="text text-on-yellow">The Tribune’s coverage spans the state. But if you’re looking for information that hits closer to home, we have that, too.<br><br>We build databases so Texans can examine topics like public schools and hospitals on a local level. One of our most popular databases, the Government Salaries Explorer, helps promote local accountability.<br><br>We also bring statewide coverage home with our Election Scoreboard, which can be customized to feature hometown candidates and races.</p>
      </div>
    </div>
  </div>
  <div class="container transparent legislature" data-stellar-background-ratio="0.5">
      <div class="inner-wrap">
        <div class="text-container medium left white">
          <h2 class="white">Texas Legislature Uncovered</h2>
          <p class="text">The Tribune’s reporting has changed the way business in the state Capitol is done. As a result, Texans have found it easier to participate in the legislative process.<br><br>We’ve leveraged cutting-edge technology to connect millions of Texans with their state government. One example is the Tribune’s livestream of the 83rd Legislative Session and its subsequent special sessions.<br><br>With livestream technology, Texans could watch and listen to their elected officials in real time from anywhere and on any device.</p>
        </div>
        <div class="medium right stats">
          <table class="white">
            <p class="counter-label white" style="padding-top: 1.5em; padding-left: 1em; font-weight: 600;">Legislature Stats</p>
            <tr>
              <td class="counter-wrapper">
                <span class="counter">473,103</span>
                <hr>
                <p class="counter-label">YouTube Viewers</p>
              </td>
              <td class="counter-wrapper">
                <span class="counter">183</span>
                <hr>
                <p class="counter-label">Countries Watching</p>
              </td>
            </tr>
            <tr>
              <td class="counter-wrapper">
                <span class="counter">29,439,958</span>
                <hr>
                <p class="counter-label">Minutes Watched</p>
              </td>
              <td class="counter-wrapper">
                <span class="counter">132,012</span>
                <hr>
                <p class="counter-label">Livestream Comments</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
  </div>
  <div class="container yellow-bg livestream">
    <div class="inner-wrap">
      <div class="image-container medium left">
        <img class="image" src="img/txtrib-livestream-logoFPO-002.png">
      </div>
      <div class="text-container right medium">
        <h2>The New Normal</h2>
        <p class="text">The legislative livestream played such a large role in promoting transparency and accountability, we decided to make it a permanent reporting tool.<br><br>Today, with membership support, we livestream breaking news, big political announcements, election night coverage, protest rallies, our own live events and more.<br><br>Livestreaming is a new-age solution for an age-old problem.</p>
      </div>
    </div>
  </div>
  <div class="container yellow-bg stars">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <i class="fa fa-star yellow-shadow-color"></i>
        <i class="fa fa-star yellow-shadow-color"></i>
        <i class="fa fa-star yellow-shadow-color"></i>
      </div>
    </div>
  </div>
  <div class="container yellow-bg">
    <div class="inner-wrap">
      <h1 class="quote-section black">"Quality in-depth and trustworthy reporting - I think the vision and impact The Texas Tribune has had on Texas politics is groundbreaking."</h1>
      <h1 class="quote-section"><span class="white">- Renee Mathew, 2014 Texas Tribune Festival Attendee</span></h1>
    </div>
  </div>
  <div class="container section-arrow section-arrow-yellow black-bg">
  </div>
  <div class="container section-header center black-bg" id="accountability">
    <h1><span class="white">Nonstop</span> <span class="yellow">Accountability</span></h1>
  </div>
  <div class="container transparent short bidness" data-stellar-background-ratio="0.5">
    <div class="inner-wrap">
      <div class="text-container medium right">
        <h2 class="white">Bidness as Usual</h2>
        <p class="text white">You don’t have to be an expert on politics to understand conflicts of interest and breaches in public accountability.<br><br>The Tribune’s award-winning Bidness as Usual project follows the money and takes another look at lawmakers and the ethics rules that govern them. As a result of this project, stricter ethics legislation was filed in the last legislative session.</p>
      </div>
    </div>
  </div>
  <div class="container black-bg watchdog">
    <div class="inner-wrap">
      <div class="text-container medium left">
        <h2 class="white">Watchdog Reporting</h2>
        <p class="text white">We’re holding your elected officials’ feet to the fire, and Texas Tribune members make it possible.<br><br>Our talented reporters are interviewing, investigating and fact-checking so you get the full story. And as a result, citizen involvement is on the rise in Texas. Together, we’re creating a more productive, thoughtful and engaged Texas.</p>
      </div>
      <div class="image-container medium right">
        <p class="counter-label white" style="padding-bottom: 1em;">Staff Growth By Year</p>
        <img class="image" src="img/TT-reporter-count-chart001.png">
      </div>
    </div>
  </div>
  <div class="container transparent trib-investigates" data-stellar-background-ratio="0.5">
    <div class="inner-wrap">
      <div class="text-container small left tablet-hide">
        <h1 class="quote-overlay yellow">"Justice was served."</h1>
        <h1 class="quote-overlay white" style="margin: 0;">- Crystal Davis</h1>
        <h1 class="quote-overlay white" style="margin: 0;">Tyler, TX</h1>
      </div>
      <div class="image-container medium right">
        <img class="image logo" src="/img/TribInvestigates-white-logo.png">
      </div>
      <div class="text-container medium right">
        <p class="text white">The Tribune’s hardest-hitting investigative projects are labeled “TribInvestigates” and provide Texans with new levels of accountability.</p>
        <h2 class="white">Hurting For Work</h2>
        <p class="text white">A recent installment in the TribInvestigates series is the four-part “Hurting for Work” investigation, which exposed gaping holes in the state’s workers’ compensation system.<br><br>This project resulted in immediate changes to Texas’ worker safety hotline and to the life of a young mother whose husband was killed in a workplace accident.</p>
      </div>
    </div>
  </div>
  <div class="container black-bg stars" style="padding-top: 1em;">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <i class="fa fa-star white"></i>
        <i class="fa fa-star white"></i>
        <i class="fa fa-star white"></i>
      </div>
    </div>
  </div>
  <div class="container black-bg">
    <div class="inner-wrap">
      <h1 class="quote-section white">"[Our judges] are unaware of any other comparably sized news organization doing this kind of watchdog work in these kinds of simple, yet smart, solutions."</h1>
      <h1 class="quote-section"><span class="yellow">- Investigative Reporters & Editors, Gannett Award</span></h1>
    </div>
  </div>
  <div class="container section-arrow section-arrow-black teal-bg">
  </div>
  <div class="container section-header center teal-bg" id="transparency">
    <h1><span class="white teal-shadow">EVENTS AND</span> <span class="yellow teal-shadow">TRANSPARENCY</span></h1>
  </div>
  <div class="container teal-bg triblive-middle">
    <div class="inner-wrap">
      <div class="image-container medium right">
        <img class="image" src="img/FMD14-Evan-TribLIVE002.jpg">
      </div>
      <div class="image-container medium left" style="padding-left: 0; margin-right: 0;">
        <img class="image logo" src="img/TribLIVE-white-logo.png">
      </div>
      <div class="text-container medium left" style="margin-right: 0;">
        <p class="text white">Free, live town hall-style conversations are an essential part of the Tribune’s DNA.<br><br>Our 60-plus events a year provide Texans with the opportunity to see, hear and question their elected officials, community leaders and industry experts directly —  with no staffer or aide in between.<br><br>And to further advance access, we publish video and audio of our events online for anyone to use as a resource.</p>
      </div>
    </div>
  </div>
  <div class="container transparent triblive-two short" data-stellar-background-ratio="0.5">
  </div>
  <div class="container teal-bg top-pad">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <div class="video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/tBjqjXlEbcA?list=UUt4O2fgybgf4TMSU3bsb8Rg&amp;wmode=transparent&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="text-container large" style="margin: 0 auto;">
        <p class="text white">The Texas Tribune Festival, our signature annual event, attracts thousands of attendees from all corners of the country  to learn about Texas’ biggest challenges and engage in thoughtful discussion about solutions. Decision-makers, industry leaders and community activists come to take part in shaping the conversation.</p>
      </div>
    </div>
  </div>
  <div class="container teal-bg stars">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <i class="fa fa-star teal-shadow-color"></i>
        <i class="fa fa-star teal-shadow-color"></i>
        <i class="fa fa-star teal-shadow-color"></i>
      </div>
    </div>
  </div>
  <div class="container teal-bg statewide-events">
    <div class="inner-wrap">
      <div class="image-container medium left" style="padding-top: 0;">
        <img class="image" src="img/Statewide-Event-Locations-teal-final.gif">
      </div>
      <div class="text-container right medium">
        <h2 class="white">Statewide Events</h2>
        <p class="text white">With the support of Tribune members, we’ve taken kitchen-table conversations to a statewide audience.<br><br>Texans are coming together in community centers and local college campuses from Harlingen to Beaumont to Lubbock to El Paso for face-to-face conversations.</p>
      </div>
    </div>
  </div>
  <div class="container teal-bg stars">
    <div class="inner-wrap" style="float: none;">
      <div class="center">
        <i class="fa fa-star teal-shadow-color"></i>
        <i class="fa fa-star teal-shadow-color"></i>
        <i class="fa fa-star teal-shadow-color"></i>
      </div>
    </div>
  </div>
  <div class="container teal-bg statewide-quote">
    <div class="inner-wrap">
      <h1 class="quote-section white">"[The Texas Tribune] does what it says it wanted to: raises the level of discourse in Texas, in a mature, balanced, nonpartisan way."</h1>
      <h1 class="quote-section"><span class="yellow">- Tim Taliaferro, member since 2011</span></h1>
    </div>
  </div>
  <div class="container section-arrow section-arrow-teal white-bg">
  </div>
  <div class="container section-header center" id="engagement">
    <h1 class="white-shadow">COMMUNITY<span class="yellow"> ENGAGEMENT</span></h1>
  </div>
   <div class="container audience">
    <div class="inner-wrap">
      <div class="text-container left medium">
        <h2 style="padding: 0;">Audience</h2>
        <p class="text">We’ve used technology to deliver a new kind of journalism: nonpartisan news that can reach more people and make it easier for them to participate. As a result, we’re building a community of more productive, thoughtful and engaged citizens.<br><br>Our current goal is to reach even more Texans — in all corners of the state — allowing them to be informed and engaged in the same way our audience has been for the first five years.</p>
      </div>
        <div class="medium right">
          <table class="black">
            <tr>
              <td class="counter-wrapper">
                <span class="counter">47,786</span>
                <hr>
                <p class="counter-label"><i class="fa fa-facebook"></i> Likes</p>
              </td>
              <td class="counter-wrapper">
                <span class="counter">10,000,000</span>
                <hr>
                <p class="counter-label">Site Visits</p>
              </td>
            </tr>
            <tr>
              <td class="counter-wrapper">
                <span class="counter">90,500</span>
                <hr>
                <p class="counter-label"><i class="fa fa-twitter"></i> Followers</p>
              </td>
              <td class="counter-wrapper">
                <span class="counter">10,000,000</span>
                <hr>
                <p class="counter-label">Page Visits</p>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <div class="container short transparent members" data-stellar-background-ratio="0.5">
    <div class="inner-wrap">
      <div class="text-container medium right">
        <h2 class="white">Member Community</h2>
        <p class="text white">As a citizen-supported organization, our strength, independence and momentum come from you.<br><br>Our member community attracts everyday Texans who want to ensure the future of our great state. Thanks to our members, citizen involvement in Texas is on the rise.</p>
      </div>
    </div>
  </div>
  <div class="container tribtalk">
    <div class="inner-wrap">
      <div class="image-container">
        <img class="image tribtalk-logo" src="/img/tribtalk-TRIB-section.png">
        <img class="image tribtalk-logo" src="/img/tribtalk-TALK-section.png">
      </div>
      <div class="text-container large">
        <h2>Perspectives on Texas</h2>
        <p class="text">Beyond facilitating a statewide conversation, we believe Texans deserve a voice. That’s why we launched TribTalk — a 21st century op-ed with a twist.<br><br>Doubling as a digital town square, TribTalk features thoughtful perspectives on Texas politics and policy from a diverse pool of Texans, and we encourage readers to participate. TribTalk is just another way The Texas Tribune is returning civility back to public discourse.</p>
      </div>
    </div>
  </div>
  <div class="container medium-tall transparent newsletters" data-stellar-background-ratio="0.5">
    <div class="inner-wrap">
      <div class="image-container medium left">
        <img class="image" src="/img/TTNewsletters-gif-placeholder.png">
      </div>
      <div class="text-container small-medium right">
        <h2>Trib+ Newsletters</h2>
        <p class="text">Our Trib+ newsletters give our audience the opportunity to become experts on issues including water, public education and Texas politics. These specialized newsletters, many of which are free, feature interactive maps, data tools, research and articles from the Tribune and other accredited sources.<br><br>And our newsletter family will continue to grow as we expand into other topics in the coming months.</p>
      </div>
    </div>
  </div>
  <div class="container white-bg statewide-quote">
    <div class="inner-wrap">
      <h1 class="quote-section black">"I didn't really know Texas until I knew the Tribune."</h1>
      <h1 class="quote-section"><span class="yellow">- Jen Freeman, reader since 2010</span></h1>
    </div>
  </div>
  <div class="container section-arrow-community section-arrow-white yellow-bg">
  </div>
  <a name="donate"></a>
  <div class="container short yellow-bg" id="donate">
    <div class="inner-wrap">
      <div class="text-container medium left">
        <div class="cta-bottom">
          <div class="join"><a class="teal" href="http://www.texastribune.org/join/" target="_blank">Join</a><span class="white"> our community.</span>
          </div>
          <br><br>
          <div class="become">Become a member of<br><br>The Texas Tribune today.
          </div>
        </div>
      </div>
      <div class="image-container medium right">
        <img class="image" src="../img/FMD14-lightbright-tx-FPO.png">
      </div>
    </div>
  </div>
</div>
