---
title: Fall Membership Drive | The Texas Tribune
---
<header class="header">
  <div class="wrapper">
    <a href="http://twitter.com/TexasTribune" title="Follow us on Twitter" class="social-link" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="http://www.facebook.com/texastribune" title="Find us on Facebook" class="social-link" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="http://instagram.com/texas_tribune" title="Follow us on Instagram" class="social-link" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <div class="wrapper">
    <a href="http://www.texastribune.org">
      <img alt="The Texas Tribune" src="/img/logo-wrap-head.png">
    </a>
    <span>|</span>
    <h1>Fall Membership Drive</h1>
    </div>
  </div>
</header>
